.v-card {
  max-width: 250px;

  &__title {
    font-size: 20px;
  }

  &__text {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  &.v-card_confirmed {
    
    .v-card__text{
      color: black;
    }
  }

  &.v-card_recovered {

    .v-card__text{
      color: green;
    }
  }

  &.v-card_deaths {

    .v-card__text{
      color: red;
    }
  }
}